:host
{
    display: inline-block;

    width: 400px;
}
#gauge
{
    .arc
    {
        stroke-width: 3;
        &--default
        {
            stroke: rgb(102,102,102);
        }
    }
    .arrow
    {
        fill: rgb(35,134,225);
        stroke-width: 0;
    }

    .mark
    {
        fill: rgb(225,225,225);
        stroke-width: 0;
    }
    .label
    {
        &__mark
        {
            stroke: rgb(0,0,0);
            stroke-width: 2;
        }
        &__text
        {
            font: Helvetica !important;
            font-size: 15px !important;
        }
    }
}
